/* = = = = = = = = = = START OF NAVBAR = = = = = = = = = = */
@media (max-width: 600px) {
    nav ul.search_dropdown {
      width: 250px;
    }
  }
  /* = = = = = = = = = = END OF NAVBAR = = = = = = = = = = */
  
/* ------------------------------ Start OF HEADER ------------------------ */
@media (max-width: 349px){
  header .carousel-indicators{
    display: none;
  }
  header .carousel .carousel-caption {
    display: none !important;
  }
  
}
@media (min-width:350px ){
  header .carousel-indicators{
    display: none;
  }
  header .carousel .carousel-caption {
    top: 10%;
  }
  header .carousel .carousel-caption h2 {
    font-size: 10px;
  }
  header .carousel .carousel-caption p {
    font-size: 8px;
    padding-right: 60px;
    margin-right: 50px;
    margin-bottom: 5px;
  }
  header .carousel .carousel-caption .carousel-btn {
    padding: 0px 1px;
    margin-top: 0px;
    
  }
  header .carousel .carousel-caption .carousel-btn a{
    font-size: 6px;
  }

}

@media (min-width:400px ){
  header .carousel .carousel-caption {
    top: 10%;
  }
}

@media (min-width:450px ){
  header .carousel .carousel-caption {
    top: 18%;
  }
  header .carousel .carousel-caption .carousel-btn a{
    font-size: 10px;
  }
}

@media (min-width: 500px) {
  header .carousel-indicators{
    display: none;
  }
  header .carousel .carousel-caption {
    top: 10%;
  }
  header .carousel .carousel-caption h2 {
    font-size: 20px;
  }
  header .carousel .carousel-caption p {
    font-size: 14px;
    padding-right: 80px;
    margin-right: 50px;
    margin-bottom: 5px;
  }
  header .carousel .carousel-caption .carousel-btn {
    padding: 5px;
    margin-top: 0px;
    
  }
}

@media (min-width: 570px){
  header .carousel .carousel-caption {
    top: 15%;
  }
  header .carousel .carousel-caption p {
    margin-bottom: 10px;
    padding-right: 120px;
    
  }
}
  @media (min-width: 660px){
  header .carousel-indicators{
    display: flex;
  }
  header .carousel .carousel-caption {
    top: 20%;
  }
  header .carousel .carousel-caption h2 {
    font-size: 18px;
  }
  header .carousel .carousel-caption p {
    font-size: 14px;
    margin-bottom: 15px;
    padding-right: 100px;
  }
}
@media (min-width: 768px) {
  header .carousel .carousel-caption {
    top: 28%;
  }
  header .carousel .carousel-caption .carousel-btn a{
    font-size: 14px;
  }
  
}
@media(min-width: 900px){
  header .carousel .carousel-caption h2 {
    font-size: 20px;
  }
  header .carousel .carousel-caption p {
    font-size: 16px;
  
  }
}

@media (min-width: 991px){
  header .carousel .carousel-caption h2{
font-size: 36px; 
 }
 header .carousel .carousel-caption p{
  font-size: 18px;
 }
 header .carousel .carousel-caption .carousel-btn {
  padding: 7px;
 }

}
@media (min-width: 1100px) {
  header .carousel .carousel-caption {
    top: 35%;
  }
}
/* ------------------------------ END OF HEADER ------------------------ */
/* = = = = = = = = = = START OF ABOUT = = = = = = = = = = */
@media (max-width: 991px) {
  .main_title {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  #about_us .about_content .about_text p {
    margin-top: 80px !important;
  }
}
/* = = = = = = = = = = START OF ABOUT = = = = = = = = = = */
/* = = = = = = = = = = START OF CART = = = = = = = = = = */

@media (max-width: 700px) {
  #table-section .container .gray-btn {
    padding: 0px 10px;
  }
}
/* = = = = = = = = = = END OF CART = = = = = = = = = = */
@media (min-width: 992px) {
  #congrats-container {
    width: 50%;
  }
}
/* -------------------------- END OF CONGRATULATIONS ------------------------- */
